[Unit]
Description=Periodic Backup Snapshot

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=bash -c '"$HOME/Source/HelloGrayson/workstation/src/backup/snapshot.sh" -v 2>&1 | logger'

[Install]
WantedBy=default.target
