[Unit]
Description=Timer for desktop-snapshot.service
Requires=desktop-snapshot.service

[Timer]
Unit=desktop-snapshot.service
OnBootSec=10min
OnCalendar=weekly

[Install]
WantedBy=multi-user.target
