#!/usr/bin/bash
set -xeuo pipefail

# src/Containerfile.fedora hash: {{ include "src/Containerfile.fedora" | sha256sum }}

main() {
  SRC="$(chezmoi data | jq .chezmoi.sourceDir -r)/src"

  bash "$SRC/build-fedora.sh"
}

main "${@}"
