#!/usr/bin/bash
set -xeuo pipefail

# .workstation/Containerfile.fedora hash: {{ include "dot_workstation/Containerfile.fedora" | sha256sum }}

# Update localhost/fedora container.
podman build -f {{ joinPath .chezmoi.sourceDir "dot_workstation/Containerfile.fedora" | quote }} -t "localhost/fedora"

# Recreate Fedora distrobox.
exists=$(distrobox ls | grep Fedora)
echo $exists
if [[ ! -z $exists ]]; then
	distrobox stop -Y Fedora
	distrobox rm -Y Fedora
fi
SHELL=/usr/bin/zsh distrobox create --image localhost/fedora --name Fedora
