#!/bin/bash

# Install ansible if not already.
if ! command -v ansible &>/dev/null; then
	echo "Installing ansible..."
	pip install ansible
	ansible --version
fi

# Run local playbook
ansible-playbook {{ joinPath .chezmoi.sourceDir "dot_bootstrap/ansible-playbook.yml" | quote }} --ask-become-pass
