#!/usr/bin/bash
set -xeuo pipefail

# restic-latest hash: {{ include "src/backup/restic-latest" | sha256sum }}

main() {
	WORKINGDIR="$HOME/.local/share/chezmoi/src/backup"

  bash "$WORKINGDIR/restore.sh"
}

main "${@}"
