#!/usr/bin/bash
set -xeuo pipefail

# .workstation/restic-latest hash: {{ include "src/restic-latest" | sha256sum }}

main() {
	SRC="$(chezmoi data | jq .chezmoi.sourceDir -r)/src"

  bash "$SRC/desktop-restore.sh"
}

main "${@}"
