#!/bin/bash

# .bootstrap/Containerfile.fedora hash: {{ include "dot_bootstrap/dconf.ini" | sha256sum }}

# Restore current dconf if not the machine who performed a snapshot.
LEADER=$(head -1 {{ joinPath .chezmoi.sourceDir "dot_bootstrap/restic-leader" | quote }})
THIS=$(cat /etc/machine-id)
if [ $THIS != $LEADER ]; then 
  dconf load -f / < {{ joinPath .chezmoi.sourceDir "dot_bootstrap/dconf.ini" | quote }}
fi
