#!/usr/bin/bash
set -xeuo pipefail

# backup-snapshot.service hash: {{ include "dot_config/systemd/user/backup-snapshot.service" | sha256sum }}
# backup-snapshot.timer hash: {{ include "dot_config/systemd/user/backup-snapshot.timer" | sha256sum }}

main() {
  WORKINGDIR="$HOME/Source/HelloGrayson/workstation/backup"

  bash "$WORKINGDIR/init-systemd.sh"
}

main "${@}"
