[Desktop Entry]
Name=balenaEtcher
Exec=~/AppImages/gearlever_balenaetcher_e89f5c.appimage --no-sandbox %U
TryExec=~/AppImages/gearlever_balenaetcher_e89f5c.appimage
Icon=~/AppImages/.icons/gearlever_balenaetcher_e89f5c
Terminal=false
Type=Application

StartupWMClass=balenaEtcher
X-AppImage-Version=1.18.11
Comment=Flash OS images to SD cards and USB drives, safely and easily.
MimeType=x-scheme-handler/etcher;
Categories=Utility;
